modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["stripe:1.0.0"]

[userenv]

[userenv.shared]
JWT_SECRET = "6e49bbb919ec21744436c9962c399fd40612d75af731e5e52cc37f6313bb679c8edca4d38371e20ae71d75adced9ab26b392e475f8f98176d1ed71b059894bfa"

[userenv.production]
PRODUCTION_DOMAIN = "taptpay.co.nz"
